/*- Quote --------------------------------------------------------------------------------------------*/

.content blockquote
{
	background: transparent url(../images/content_horiz_divider.png) no-repeat left bottom;
	margin: 22px 0;
	padding-bottom: 30px;
}

.content blockquote p
{
	background: transparent url(../images/about_quote_bg.png) no-repeat left top;
	color: #e25a01;
	font-size: 19px;
	font-style: italic;
	line-height: 1.55em;
	padding: 8px 98px 0 98px;
	text-indent: 0;
}

/*- Accreditations & Memberships ---------------------------------------------------------------------*/

	#accreditations-memberships dt
	{
		margin-bottom: 14px;
	}
		
		#accreditations-memberships dt b
		{
			color: #f7dbb2;
			font-weight: normal;
			font-size: 40px;
			left: 105px;
			position: relative;
			top: 8px;
			z-index: 1;
		}
		
		#accreditations-memberships dt span
		{
			position: absolute;
			right: 0px;
			top: 16px;
			z-index: 2;
		}
		
		#accreditations-memberships dt span.first-child
		{
			left: 0px;
			top: 0px;
		}
	
/*- Gallery ------------------------------------------------------------------------------------------*/

	#about-gallery ul
	{
		overflow: hidden;
	}
	
		#about-gallery li
		{
			border: 1px solid #e2dbc7;
			float: left;
			margin-right: 12px;
		}
		
		#about-gallery li:hover
		{
			border-bottom-color: #a9904a;
		}
		
		#about-gallery li a
		{
			background-color: #fff;
			display: block;
			height: 82px;
			padding: 4px;
			width: 82px;
		}
		
		#about-gallery li a img
		{
			border: none;
		}