#contact p.emphasis strong
{
	color: #c16705;
}

	#contact p.emphasis
	{
		font-size: 13px;
		font-style: italic;
		line-height: 1.4em;
	}

/*- Contact Info -------------------------------------------------------------------------------------*/

#contact-info
{
	background: transparent url(../images/content_horiz_divider.png) no-repeat left bottom;
	float: left;
	margin-bottom: 22px;
	padding-top: 20px;
	width: 100%;
}
	
	
	#contact-info dt
	{
		display: block;
		float: left;
		padding-bottom: 20px;
		text-indent: 80px;
		width: 150px;
	}
	
	#contact-info dd
	{
		color: #9a5223;
		display: block;
		float: right;
		font-size: 18px;
		font-style: italic;
		padding-bottom: 20px;
		width: 385px;
	}
	

/*- Map Link -----------------------------------------------------------------------------------------*/

#map-link
{
	background: #fff url(../images/contact_map.jpg) no-repeat center center;
	display: block;
	height: 195px;
	padding: 6px;
	position: relative;
	text-decoration: none;
	width: 219px;
}

	#map-link span
	{
		background: transparent url(../images/contact_map_view.png) no-repeat center center;
		display: block;
		height: 33px;
		opacity: 0.55;
		overflow: hidden;
		position: absolute;
		text-indent: -50em;
		-webkit-transition: opacity 0.2s linear;
		right: 13px;
		top: 13px;
		width: 33px;
	}
	
	#map-link:hover span
	{
		opacity: 1;
	}
	
/*- Directions ---------------------------------------------------------------------------------------*/

#directions 
{
	padding: 0 24px 0 32px;
	float: left;
	text-align: left;
}

#directions dt
{
	margin-bottom: 12px;
}
	
	#directions li
	{
		float: left;
		list-style: none outside;
		overflow: hidden;
		padding: 6px 0;
		width: 100%;
	}
	
		#directions li:first-child
		{
			border-top: none;
		}
	
	#directions li b
	{
		background-color: #e06f12;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		color: #fff;
		display: block;
		float: left;
		font-size: 11px;
		height: 14px;
		line-height: 1.1em;
		margin-top: 0.25em;
		text-align: center;
		text-shadow: #b55f0e 1px 1px 1px;
		width: 14px;
	}
	
	#directions li span
	{
		display: block;
		float: left;
		line-height: 1.4em;
		margin-left: 10px;
		position: relative;
		right: 0;
		width: 200px;
	}