/*- Layouts 480px and smaller, iPhone and mobiles and narrow browser. (Thanks, Hicks) ----------------*/

@media (max-width: 480px) {
  body {
    background: #fffbf1 url(../images/mobile_body_background.jpg) no-repeat left
      top;
    min-width: 300px;
    padding-bottom: 0px;
  }

  header {
    padding-top: 18px;
    width: 95%;
  }

  header #branding a {
    background-image: url(../images/mobile_branding.png);
    float: none;
    height: 47px;
    margin-left: 20px;
    width: 324px;
  }

  /*- Navigation -----------------------------------------------------------------------------------*/

  header nav {
    background-color: rgba(255, 252, 244, 0.5);
    display: block;
    float: none;
    margin: 10px auto 0 auto;
    overflow: hidden;
    padding-right: 0px;
    text-align: center;
    width: 100%;
  }

  header nav li {
    display: inline;
    float: none;
    height: 29px;
    margin-left: 16px;
  }

  header nav li:first-child {
    margin-left: 0;
  }

  header nav a {
    border-bottom: 2px solid transparent;
    padding: 0 8px;
  }

  header nav a:hover {
    border-bottom-color: #e27914;
  }

  header nav li.current {
    background-image: none;
  }

  header nav li.current a {
    background-image: none;
    border-bottom-color: #e27914;
    color: #9a5223;
    text-shadow: #fff 1px 1px 1px;
  }

  header nav li.current a:hover {
    border-bottom-color: #e27914;
    cursor: default;
  }

  /*- View Container -------------------------------------------------------------------------------*/

  #view-container,
  #home #view-container {
    background-color: rgba(255, 252, 244, 0.8);
    background-image: none;
    box-shadow: #c5b695 0px 0px 4px;
    margin: 15px auto 0 auto;
    width: 95%;
  }

  #view-bottom {
    display: none;
  }

  /*- Content --------------------------------------------------------------------------------------*/

  .content,
  #home .content {
    padding: 15px;
    width: 95%;
  }

  .content.first-child {
    background-image: none;
    padding-top: 0px;
    top: 0px;
  }

  .content h2 {
    font-size: 22px;
    padding: 15px 0 10px 0;
  }

  /*- Content Main ---------------------------------------------------------------------------------*/

  .content-main {
    background-image: none;
    float: none;
    padding: 0px;
    width: 100%;
  }

  /*- Content Secondary ----------------------------------------------------------------------------*/

  .content-secondary {
    float: none;
    width: 100%;
  }

  /*- Footer ---------------------------------------------------------------------------------------*/

  footer {
    background-image: none;
    width: 95%;
  }

  footer ul {
    background-image: none;
    padding: 10px 0;
  }

  /*- Home -----------------------------------------------------------------------------------------*/

  #summary {
    background-image: none;
    color: #b8600c;
    font-size: 17px;
    height: auto;
    line-height: 1.5em;
    padding: 20px 10px 15px 10px;
    top: 0px;
    text-shadow: none;
    width: auto;
  }

  #sitelinks {
    overflow: hidden;
    width: 100%;
  }

  #sitelinks li {
    float: left;
    margin-left: 0px;
    width: 47%;
  }

  #sitelinks li:first-child {
    margin-left: 0;
  }

  #sitelinks a {
    background-color: #fffbf0;
    background-image: none;
    border-top: 1px solid #e9dbbb;
    display: block;
    float: left;
    font-size: 13px;
    height: 100px;
    padding: 8px;
    text-decoration: none;
    width: 95%;
  }

  #sitelinks a b {
    background-position: 95% 2px;
  }

  #sitelinks a:active {
    margin-bottom: 0px;
    padding-top: 8px;
  }

  /*- About ----------------------------------------------------------------------------------------*/

  .content blockquote {
    margin: 18px 0;
    padding-bottom: 20px;
  }

  .content blockquote p {
    background-image: url(../images/mobile_about_quote_bg.jpg);
    font-size: 18px;
    padding: 0px 40px 0 50px;
  }

  #about-location .content-secondary {
    display: none;
  }

  #accreditations-memberships {
    padding: 0 6px 0 0;
  }

  #accreditations-memberships dt {
    margin-bottom: 8px;
  }

  #accreditations-memberships dt b {
    color: #9a5324;
    font-size: 18px;
    left: auto;
    position: relative;
    top: auto;
  }

  #accreditations-memberships dt span {
    position: relative;
    right: auto;
    top: auto;
  }

  #accreditations-memberships dt span.first-child {
    left: auto;
    top: auto;
  }

  #accreditations-memberships li {
    padding: 4px 0;
  }

  #about-gallery {
    padding-right: 6px;
  }

  #about-gallery li.iDevice {
    border: none;
    margin-right: 0px;
  }

  #about-gallery li.iDevice img {
    width: 100%;
  }

  /*- Contact --------------------------------------------------------------------------------------*/

  #contact-info dt {
    text-indent: 0px;
    width: 20%;
  }

  #contact-info dd {
    width: 80%;
  }

  #directions {
    padding: 0 6px 0 0px;
    float: left;
  }

  #directions li span {
    width: 92%;
  }
}
