/*- FAQ ----------------------------------------------------------------------------------------------*/

#faq dt
{
	color: #87461c;
	font-size: 18px;
	font-weight: bold;
	margin-top: 24px;
	padding-bottom: 2px;
}