/*- Special consideration for the sidebar ------------------------------------------------------------*/

#services.content
{
	overflow: visible;
}

#services.content:after
{
	display: block;
    clear: left;
    content: " ";
}

/*- Pricing and Scheduling ---------------------------------------------------------------------------*/

#pricing-scheduling dt
{
	padding-top: 18px;
}

	#pricing-scheduling small b
	{
		color: #e36001;
	}
	
	#appointment-days
	{
		color: #e36001;
		font-style: italic;
	}

#menu-download-link
{
	background-color: #fff;
	border: 1px solid #eee7d5;
	color: #9a5223;
	display: block;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	padding: 6px;
	text-align: left;
	text-decoration: none;
	text-shadow: #fff 1px 1px 1px;
	width: 236px;
}

	#menu-download-link strong
	{
		background: transparent url(../images/services_menu_icon.png) no-repeat 97.5% center;
		display: block;
		padding: 8px;
	}
	
	#menu-download-link span
	{
		background-color: #fffdfa;
		background-image: -moz-linear-gradient(top, #fffefd, #fff8e7);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fffefd), to(#fff8e7));
		border: 1px solid #fff7e3;
		display: block;
	}
	
		#menu-download-link:hover span
		{
			border-color: #ffebba;
			color: #893f0f;
		}

/*- Service Navigation -------------------------------------------------------------------------------*/

#nav-services
{
	background: transparent url(../images/content_horiz_divider.png) no-repeat center bottom;
	font-size: 17px;
	font-style: italic;
	margin-bottom: 22px;
	padding: 22px 0;
	text-align: center;
}

	#nav-services li
	{
		display: inline;
	}
	
	#nav-services a
	{
		padding: 0 24px;
	}

/*- Service Section Titles ---------------------------------------------------------------------------*/

#services h3
{
	background: transparent url(../images/content_horiz_divider.png) no-repeat 15px center;
	left: -8px;
	margin: 10px 0 38px 0;
	position: relative;
}

	#services h3 span
	{
		background: transparent url(../images/services_header_sprite.png) no-repeat left top;
		color: #fffbf1;
		display: inline-block;
		font-size: 13px;
		height: 24px;
		text-shadow: #894208 1px 1px 1px;
	}
	
		#services h3 span span
		{
			background: transparent url(../images/services_header_sprite.png) no-repeat right bottom;
			display: inline-block;
			height: 24px;
			padding: 0 7px;
		}

/*- Service Titles -----------------------------------------------------------------------------------*/

#services .content-main dt
{
	color: #87461c;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	padding-top: 5px;
	text-align: left;
	vertical-align: top;
	width: 30%;
}

	#services .content-main dt em
	{
		color: #4e260c;
		display: block;
		font-family: 'helvetica nueue', helvetica, arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
	}
	
/*- Service Descriptions -----------------------------------------------------------------------------*/

	#services .content-main dd
	{
		display: inline-block;
		font-size: 15px;
		padding: 0 0 40px 10px;
		width: 65%;
	}