---
import BaseLayout from "../layouts/Base.astro";
---

<style>
  dt {
    color: #87461c;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    padding-bottom: 2px;
  }
</style>

<BaseLayout>
  <div class="content first-child">
    <div class="content-main">
      <h2>Frequently Asked Questions</h2>
      <dl>
        <dt>Payment</dt>
        <dd>
          Cash, check, and major credit/debit cards accepted.
        </dd>
      </dl>
    </div>
  </div>
  <span id="view-bottom"></span>
</BaseLayout>
