<style>
  .notice {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 964px;
    padding: 1.5rem 0.75rem 0 0.75rem;
  }

  .notice__inner {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(241, 159, 0, 0.3);
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(241, 159, 0, 0.2);
    color: #4e3422;
    font-size: 105%;
    overflow: hidden;
  }

  .notice__inner a {
    color: #e6780f;
  }

  .notice__title {
    background: #a5450b url(/images/home_banner_bg.jpg) repeat-x left center;
    color: #fffbf1;
    padding: 0.75rem 1rem;
    font-size: 110%;
    text-transform: uppercase;
  }

  .notice ul {
    line-height: 1.5;
    padding: 0.75rem 1rem;
  }

  .notice li {
    list-style: disc inside;
    margin: 0.4rem 0;
  }
</style>

<div class="notice">
  <div class="notice__inner">
    <h2 class="notice__title">COVID-19 Update</h2>
    <ul>
      <li>
        Please read the
        <a href="/services#covid-19-precautions"
          >Client/Therapist Precautions</a
        >
        before coming to an appointment
      </li>
      <li>Call 573-470-0328 for further questions and concerns</li>
    </ul>
  </div>
</div>