<style>
  footer {
    background: transparent url(/images/footer_bg.png) no-repeat center center;
    clear: both;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 960px;
  }

  ul {
    background: transparent url(/images/footer_info_bg.png) no-repeat center
      center;
    line-height: 1.4em;
    padding: 40px 0;
  }

  ul strong {
    color: #c16705;
    font-size: 22px;
    font-weight: normal;
  }

  a {
    color: #e6780f;
    text-decoration: underline;
  }

  @media (max-width: 480px) {
    footer {
      background-image: none;
      width: 95%;
    }

    ul {
      background-image: none;
      padding: 10px 0;
    }
  }
</style>

<footer>
  <ul>
    <li>Custom Body Works LLC</li>
    <li class="address">15049 Hwy UU Bowling Green, Mo 63334</li>
    <li><strong>573-470-0328</strong></li>
  </ul>
</footer>