#mainNav a{
	border-color:#fbbb12;
	padding-left:5px;
	font-weight:normal;
	margin-right:15px;
}
	#aboutBtn span{
		padding:5px 70px 8px 3px;
	}
	#servicesBtn span{
		padding:14px 38px 15px 3px;
	}
	#faqsBtn span{
		padding:12px 75px 14px 3px;
	}
	#contactBtn span{
		padding:9px 52px 9px 3px;
	}
#customMassage, .servicelist{
	border-right-style:solid;
}
.servicelist dd, #missionStatement, #bio, #massageTable, #contactInfo p, #faqsHolder dd{
	border-bottom-style:solid;
}
#contentRow h3.heading-directions, #sideBar li{
	border-top-style:solid;
}