#mainNav a{
	font-weight:normal;
	padding:20px 0 0 5px;
}
	#mainNav a span{
		display:block;
		position:relative;
		top:-20px;
		width:60px;
	}
	#aboutBtn span, #servicesBtn span, #faqsBtn span{
		padding:20px 75px 20px 0px;
	}
	#contactBtn span{
		padding:20px 85px 20px 0;
	}