/*-----common colors-----*/
/*
----pure orange #f37d21 (footer bg)
----lighter orange #fbbb12 (header bg)
/*-----------------------*/

*{
	padding:0px;
	margin:0px;
}
a, :focus{
	outline:none;
}
hr {
	display:none;
}
body{
	font-family:"Lucida Grande",verdana, arial, sans-serif;
	font-size:medium;
	background-color:#f37d21;
	color:#242424;
}
h1, h2, h3, h4, h5 {
	font-size:100%;
}
ul, li{
	list-style:none;
}
.clearer{
	clear:both;
}
/*----------------------------------top row----------------------------*/
.positionedContent{
	width:760px;
	margin:0 auto;
	position:relative;
}
#topRow{
	height:310px;
	background:#fbbb12 url(../images/topRowTile.gif) repeat-x bottom left;
}
	#topRow h1{
		width:760px;
		height:181px;
		background:#fbbb12 url(../images/logo.gif) no-repeat top center;
		position:relative;
	}
	#topRow h1 a{
		display:block;
		position:relative;
		width:560px;
		height:150px;
		text-indent:-3000em;
		top:13px;
		left:100px;
		text-decoration:none;
	}
	#topRow h2{
		display:none;
	}
	#mainNav{
		width:760px;
		background:transparent url(../images/navBtmCurve.gif) no-repeat bottom center;
		float:left;
		padding:20px 0 35px 0px;
	}
	#mainNav li{
		float:left;
	}
	#mainNav a{
		display:block;
		float:left;
		height:50px;
		width:150px;
		padding:20px 0 0 10px;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		font-size:150%;
		border:1px solid transparent;
		margin-right:25px;
	}
	#mainNav a:hover{
		border:1px solid #f37d21;
		background:#f37d21 url(../images/navBtnTile.gif) repeat-x top left;
		cursor:pointer;
	}
	#mainNav a:hover span{
		cursor:pointer;
	}
		#about #aboutBtn, #services #servicesBtn, #faqs #faqsBtn, #contact #contactBtn{
			border:1px solid #f37d21;
			background:#f37d21 url(../images/navBtnTile.gif) repeat-x top left;
		}
	#aboutBtn span{
		padding:5px 65px 8px 0;
		background:transparent url(../images/icon_about.gif) no-repeat center right;
	}
	#servicesBtn span{
		padding:14px 38px 15px 0;
		background:transparent url(../images/icon_services.gif) no-repeat center right;
	}
	#faqsBtn span{
		padding:12px 65px 14px 0;
		background:transparent url(../images/icon_faqs.gif) no-repeat center right;
	}
	#contactBtn {
		margin-right:0px;
	}
	#contactBtn span{
		padding:9px 52px 9px 0;
		background:transparent url(../images/icon_contact.gif) no-repeat center right;
	}
/*--------------------------------------------------content-------------------------------------------*/
#intro{
	padding-top:25px;
	font-family:"Century Gothic", "Avant Garde", "Lucida Grande", verdana, arial, sans-serif;
}
	#intro li{
		padding-top:10px;
		padding-bottom:45px;
	}
	#contentRow #intro h3{
		width:431px;
		height:41px;
		background:#f37d21 url(../images/introHeader.jpg) no-repeat top left;
		color:#fff;
		font-weight:normal;
		padding:0 0 0 10px;
		font-size:190%;
	}
	#intro p{
		font-size:110%;
		padding:5px 45px 5px 35px;
	}
	#intro .minimize{
		padding-left:75px;
	}
	#intro .maximize{
		padding-left:150px;
	}
#contentRow{
	background-color:#fff;
	padding:10px 0 120px 0;
}
#contentRow h3 {
	font-size:140%;
	color:#f37d21;
	padding:5px 0 5px 0px;
	clear:both;
}
#contentRow em{
	color:#f37d21;
}
#contentRow p a, #contentRow dl a{
	color:#f37d21;
}
	#contentRow p a:hover, #contentRow dl a:hover{
		color:#fff;
		background-color:#f37d21;
	}
/*------------------customMassage-----------*/
#customMassage{
	padding:30px 0 40px 0;
	width:525px;
	padding-right:5px;
	float:left;
	border-right:1px dotted #ccc;
}
	#customMassage p{
		line-height:1.4em;
		padding:10px 0;
	}
	#customMassage dt{
		color:#f37d21;
		margin:10px 0;
	}
	#customMassage dd{
		font-size:90%;
		padding:4px 0 4px 5px;
	}
/*--------------------------------------services----------------------------------------*/
.servicelist{
	width:525px;
	padding:25px 5px 0 0;
	border-right:1px dotted #ccc;
	float:left;
}
.servicelist h3, #customMassage h3{
	border-bottom:1px solid #f37d21;
}
.servicelist dt{
	color:#f37d21;
	margin:30px 0 5px 0;
	font-size:110%;
}
.servicelist dd{
	font-size:90%;
	border-bottom:1px dotted #ccc;
	padding-bottom:30px;
	line-height:1.4em;
}
	.servicelist dd p{
		padding:8px 0 12px 0;
		font-size:90%;
	}
/*-------------------------------------FAQ's-----------------------------------*/
#faqsHolder{
	padding:25px 0px 0 0;
}
	#faqsHolder h3{
		border-bottom:1px solid #f37d21;
	}
	#faqsHolder dt{
		color:#f37d21;
		margin:30px 0 5px 0;
		font-size:110%;
	}
	#faqsHolder dd{
		font-size:90%;
		border-bottom:1px dotted #ccc;
		padding-bottom:30px;
		line-height:1.4em;
	}
/*-----------------------------------services sidebar---------------------------*/
#printIcon{
	text-align:center;
	text-decoration:none;
	color:#f37d21;
	display:block;
	width:100px;
	height:10px;
	padding:68px 0 0 0;
	margin:0 auto 0px auto;
	background:#fff url(../images/icon_printer.gif) no-repeat top center;
}
	#printIcon:hover{
		text-decoration:underline;
	}
#sideBar{
	width:220px;
	float:right;
	padding:10px 0 0 0;
}
	#sideBar li{
		border-top:1px dotted #ccc;
		padding:20px 0 20px 0;
	}
	#sideBar .extras {
		font-size:80%;
	}
	#sideBar .extras dt{
		color:#f37d21;
		font-weight:bold;
	}
	#sideBar .extras dd{
		padding:5px 0 5px 0px;
	}
	#sideBar p{
		font-size:90%;
	}
	.info{
		background:#fff url(../images/icon_info.gif) no-repeat top left;
		padding:0px 0 5px 40px;
	}
/*-------------------------------------------------about page--------------------------------------*/
#missionStatement, #bio, #massageTable{
	border-bottom:1px dotted #ccc;
	padding-bottom:30px;
	margin-bottom:30px;
}
#missionStatement{
	padding-top:25px;
	font-size:120%;
	background:#fff url(../images/missionBg.jpg) no-repeat bottom right;
}
	#missionStatement h3{
		background-image:none;
		padding-left:0;
	}
	#missionStatement p{
		padding:20px 35px 0 38px;
		line-height:1.4em;
	}
#bio p, #massageTable p{
	font-size:90%;
	padding:10px 0 10px 0;
	line-height:1.3em;
}
	#bio dl{
		font-size:90%;
		padding:20px 0 0 0;
	}
	#bio dt{
		font-size:130%;
		color:#f37d21;
		padding-bottom:5px;
	}
	#bio dd{
		padding:6px 0 6px 24px;
		background:#fff url(../images/icon_bullet.gif) no-repeat center left;
	}
	#bio acronym{
		font-weight:bold;
		cursor:help;
		border-bottom:1px solid #ccc;
	}
	#bio img, #massageTable img{
		padding:2px;
		border:1px solid #f37d21;
	}
	#bio img{
		float:right;
		margin:10px 0 10px 10px;
	}
	#massageTable img{
		float:left;
		margin:10px 10px 10px 0;
	}
/*--------------------------------------------------contact-----------------------------------------*/
#contactInfo{
	float:left;
	width:320px;
	padding-top:25px;
}
	#contactInfo a{
		color:#f37d21;
	}
	#contactInfo a:hover{
		color:#fff;
		background-color:#f37d21;
	}
	#contactInfo p{
		padding:15px 0;
		border-bottom:1px dotted #ccc;
		line-height:1.3em;
	}
	#contactInfo ul{
		padding:15px 0;
	}
	#contactInfo ul li{
		padding:3px 0 3px 23px;
		background:#fff url(../images/icon_bullet.gif) no-repeat center left;
	}
#directionsHolder{
	width:400px;
	float:right;
	padding-top:25px;
}
#mapLink{
	display:block;
	padding:2px;
	width:400px;
	height:150px;
	border:2px solid #ccc;
	background:#fff url(../images/gMap.jpg) no-repeat center;
	text-decoration:none;
}
	#mapLink span{
		display:none;
	}
	#mapLink:hover{
		border-color:#f37d21;
	}
	#mapLink:hover span{
		position:relative;
		display:block;
		width:194px;
		height:93px;
		right:85px;
		top:-18px;
		float:right;
		text-indent:-3000em;
		overflow:hidden;
		text-decoration:none;
		background:transparent url(../images/mapTip.gif) no-repeat top left;
	}
	#contentRow h3.heading-directions{
		margin-top:20px;
		border-top:1px dotted #ccc;
		padding-top:20px;
	}
	#directionsHolder dt{
		margin-top:10px;
		color:#f37d21;
	}
	#directionsHolder dd{
		padding:4px 0 4px 23px;
		font-size:90%;
		background:#fff url(../images/icon_bullet.gif) no-repeat center left;
	}
/*--------------------------------------------------footer-------------------------------------------*/
#businessInfo{
	width:295px;
	height:122px;
	padding:130px 65px 0 0;
	position:absolute;
	top:-100px;
	right:0px;
	margin-bottom:-100px;
	font-size:80%;
	background:transparent url(../images/businessInfoBg.gif) no-repeat bottom center;
	text-align:right;
	color:#fff;
}
#siteInfo{
	color:#fff;
	font-size:80%;
	padding-top:30px;
}
	#siteInfo a{
		color:#fff;
		text-decoration:none;
	}
	#siteInfo a:hover{
		background-color:#fff;
		color:#f37d21;
	}
	#siteInfo .validLink{
		float:left;
	}
	#siteInfo li.validLink a{
		font-weight:bold;
		margin-top:7px;
		color:#f37d21;
		padding-top:7px;
		padding-left:6px;
		display:block;
		width:63px;
		height:21px;
		background:#fff url(../images/icon_valid.gif) no-repeat top left;
		float:left;
	}