/*------------------------------------------------services print stylesheet-----------------------------*/
*{
	padding:0px;
	margin:0px;
}
body{
	font-family:"Lucida Grande",verdana, arial, sans-serif;
	font-size:medium;
}

#mainNav, #sideBar, #siteInfo, hr{
	display:none;
}

	#topRow {
		text-align:right;
		font-size:100%;
	}
	#topRow h2{
		font-size:90%;
	}
	#topRow h1 a{
		color:#000;
		text-decoration:none;
	}
#contentRow{
	padding:10px 0 120px 0;
}
#contentRow h3 {
	font-size:140%;
	padding:5px 0 5px 0px;
}
#contentRow p a, #contentRow dl a{
	color:#000;
}
/*------------------customMassage-----------*/
#customMassage{
	padding:10px 0 10px 0;
	padding-right:5px;
}
	#customMassage p{
		line-height:1.4em;
		padding:8px 0;
	}
	#customMassage dt{
		margin:10px 0;
	}
	#customMassage dd{
		font-size:90%;
		padding:4px 0 4px 5px;
	}
/*--------------------------------------services----------------------------------------*/
.servicelist{
	padding:20px 5px 0 0;
}
.servicelist h3, #customMassage h3{
	border-bottom:1px solid #ccc;
}
.servicelist dt{
	margin:20px 0 5px 0;
	font-size:110%;
}
.servicelist dd{
	font-size:90%;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	line-height:1.4em;
}
	.servicelist dd p{
		padding:8px 0 12px 0;
		font-size:90%;
	}
/*-------------------------------------FAQ's-----------------------------------*/
#faqsHolder{
	padding:10px 0px 0 0;
}
	#faqsHolder h3{
		border-bottom:1px solid #ccc;
	}
	#faqsHolder dt{
		margin:15px 0 5px 0;
		font-size:110%;
	}
	#faqsHolder dd{
		font-size:90%;
		border-bottom:1px solid #ccc;
		padding-bottom:15px;
		line-height:1.4em;
	}
/*-------------------------------------------------about page--------------------------------------*/
#missionStatement, #bio, #massageTable{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin-bottom:5px;
}
#missionStatement{
	padding-top:5px;
	font-size:100%;
}
	#missionStatement h3{
		background-image:none;
		padding-left:0;
	}
	#missionStatement p{
		padding:10px 35px 0 38px;
		line-height:1.4em;
	}
#bio p, #massageTable p{
	font-size:90%;
	padding:5px 0 5px 0;
	line-height:1.3em;
}
	#bio dl{
		font-size:90%;
		padding:8px 0 0 0;
	}
	#bio dt{
		font-size:120%;
		padding-bottom:5px;
	}
	#bio dd{
		padding:2px 0 2px 24px;
	}
	#bio acronym{
		font-weight:bold;
		border-bottom:1px solid #ccc;
	}
	#bio img, #massageTable img{
		padding:2px;
		border:1px solid #ccc;
	}
	#bio img{
		margin:5px;
	}
	#massageTable img{
		margin:5px;
	}
/*--------------------------------------------------contact-----------------------------------------*/
#contactInfo{
	padding-top:25px;
}
	#contactInfo a{
		color:#000;
	}
	#contactInfo p{
		padding:15px 0;
		border-bottom:1px solid #ccc;
		line-height:1.3em;
	}
	#contactInfo ul{
		padding:15px 0;
	}
	#contactInfo ul li{
		padding:3px 0 3px 23px;
	}
#directionsHolder{
	padding-top:25px;
}
	#contentRow h3.heading-directions{
		margin-top:20px;
		border-top:1px solid #ccc;
		padding-top:20px;
	}
	#directionsHolder dt{
		margin-top:10px;
	}
	#directionsHolder dd{
		padding:4px 0 4px 23px;
		font-size:90%;
	}
#businessInfo{
	font-size:90%;
	top:0px;
	position:relative;
}
